.banner{
    height: 555px;
    margin: auto;
    width: 100%;
    background-size: cover;
    background-image: url("../images/about/about-banner.jpg");

}
.bread-crumbs ul{
    padding-bottom: 89px;
    padding-left: 0;
}
.bread-crumbs ul{
    display: flex;
    list-style: none;
    margin: 0;
}
.bread-crumbs li + li{
    padding: 0 5px
}
.bread-crumbs li + li::before{
    content: '/';
    padding: 10px;
}
.bread-crumbs a{
    text-decoration: none;
}

.item{
    display: flex;
    flex-wrap: wrap;
    padding: 27px 0;
    width: 100%;
    position: relative;
}
.bread-pic-1{
    position: absolute;
    left: 30px;
    bottom: 100px;
}
.bread-pic-2{
    position: absolute;
    right: 90px;
    top:0;
}
.bread-pic-3{
    position: absolute;
    left: 0;
    bottom: 100px;
    transform: rotate(30deg);
}
.bread-pic-4{
    position: absolute;
    right: 200px;
    bottom: 0px;
}
.bread-pic-4 img{
    width: 60%;
}
.bread-pic-3 img{
    width: 60%;
}
.first-pic img{
    border-radius: 50%;
    overflow: hidden;
}

.first-pic img.left-top{
    position: absolute;
    left: 56px;
    top: 120px;

}
.first-pic img.right-bottom{
    position: absolute;
    right: 0;
    bottom: 120px;
}

.first-text{
    width: 42%;
    margin: auto;
    margin-bottom: 241px;
}
.first-text h2{
    font-size: 42px;
    margin-bottom: 100px;
    text-align: center;
}
p{
    line-height: 240%;
    margin-bottom: 100px;
    margin: 0;
}
.first-text p{
    padding: 21px 0;
}
.second-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 62px;
}
.item:nth-child(3) >.pic{
    width: 42%;
}
p.third-text{
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0px 0 100px;
}
.item:last-child >.pic{
    margin-left: auto;
    width: 48%;

}


