.banner{
    background-image: url("../images/about/about-banner.jpg");
}
@media screen and (max-width: 768px) {
    .bread-crumbs ul{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .bread-crumbs ul{
        padding-bottom: 4rem;
        padding-left: 0;
    }
    .bread-crumbs ul{
        display: flex;
        list-style: none;
        margin: 0;
    }
    .bread-crumbs li + li{
        padding: 0 5px
    }
    .bread-crumbs li + li::before{
        content: '/';
        padding: 10px;
    }
    .bread-crumbs a{
        text-decoration: none;
    }
}   
@media screen and (min-width: 1024px) {
    .bread-crumbs ul{
        padding-bottom: 6rem;
    }
}


.illus{
    background-image: url(../images/bread-illus/bread-1.png) ,
    url(../images/bread-illus/bread-2.png) ,
    url(../images/bread-illus/bread-3.png) ,
    url(../images/bread-illus/bread-4.png);

    background-repeat: no-repeat, no-repeat, no-repeat ,no-repeat;
    background-position:
    top right 4rem,
    top 33% left,
    bottom 30% right ,
    bottom 30px left 10px;
    background-size: 20%;
}
@media screen and (min-width: 360px) {
    .illus{
        background-position:
        top right 4rem,
        top 33% left,
        bottom 28% right ,
        bottom 30px left 10px;
    }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
    .illus{
        background-position:
        top right 3rem,
        top 50% left,
        bottom 20% right ,
        bottom 15px left 10px;
    }
}  
@media screen and (min-width: 1024px) {
    .illus{
        background-position:
        top right 3rem,
        top 50% left,
        bottom 0 right ,
        bottom 15px left 10px;
    }
}

.item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
@media screen and (min-width: 360px) {
    .item{
        flex-direction: column;
        align-content: center;
        padding-bottom: 3rem;
    }
}
@media screen and (min-width: 576px) {
    .item{
        flex-direction: column;
        align-content: center;
        padding: 4rem 0;
    }
}
@media screen and (min-width: 768px) {
    .item{
        padding: 3rem 0;
        flex-direction: row;
    }
}   


.first-pic img{
    border-radius: 50%;
    overflow: hidden;
}
img.left-top, img.right-bottom{
    position: absolute;
}
@media screen and (min-width: 360px) {
    .first-pic img.left-top{
        width: 27%;
        left: -30px;
        top: 30px;
    }
    .first-pic img.right-bottom{
        width: 50%;
        right: -30px;
        bottom: 80px;
    }
}
@media screen and (min-width: 576px) {
    .first-pic img.left-top{
        width: 25%;
        top: 100px;
    }
    .first-pic img.right-bottom{
        width: 40%;
        bottom: 50px;
    }
}
@media screen and (min-width: 768px) {
    .first-pic img.left-top{
        width: 25%;
        top: 100px;
    }
    .first-pic img.right-bottom{
        width: 35%;
        bottom: 0px;
    }
}   
@media screen and (min-width: 1024px) {
    .first-pic img.left-top{
        width: 25%;
        top: 80px;
    }
    .first-pic img.right-bottom{
        width: 33%;
        bottom: 50px;
    }
}

.first-text{
    margin: auto;
}
.first-text h2{
    text-align: center;
}
p{
    line-height: 240%;
    margin: 0;
}
.first-text p{
    padding: 1.5rem 0;
}
@media screen and (min-width: 360px) {
    .first-text{
        width: 75%;
        margin-bottom: 10rem;
    }
    .first-text h2{
        font-size: 26px;
        margin-bottom: 3rem;
    }
}
@media screen and (min-width: 576px) {
    .first-text{
        width: 65%;
        margin-bottom: 10rem;
    }
    .first-text h2{
        margin-bottom: 4rem;
    }
}
@media screen and (min-width: 768px) {
    .first-text{
        width: 55%;
        margin-bottom: 10rem;
    }
    .first-text h2{
        font-size: 36px;
        margin-bottom: 3rem;
    }
}   
@media screen and (min-width: 1024px) {
    .first-text{
        width: 45%;
        margin-bottom: 15rem;
    }
    .first-text h2{
        font-size: 42px;
    }
}


@media screen and (min-width: 360px) {
    p.third-text,.second-text p{
        padding: 0.75rem 0;
    }
    .pic{
        width: 100%;
        padding: 0.75rem 0;
        margin: auto;
    }
    .item:last-child >.pic{
        order: -1;
    }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
    .second-text{
        width: 55%;
        display: flex;
        flex-wrap: wrap;
    }
    .second-text p{
        padding: 0 1rem 0 3rem;
    }
    .pic{
        margin: 0;
    }
    .item:nth-child(3) >.pic{
        width: 40%;
        margin-top: auto;
        margin-bottom: auto;
    }
    p.third-text{
        width: 42%;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0 2rem;
    }
    .item:last-child >.pic{
        width: 44%;
        order: 1;
    }
}   
@media screen and (min-width: 1024px) {
    .second-text{
        width: 55%;
    }
    .second-text p{
        padding: 0 4rem 0 3rem;
    }
    .item:nth-child(3) >.pic{
        width: 45%;
    }
    p.third-text{
        width: 44%;
        padding: 0 3rem 0 4rem;
    }
    .item:last-child >.pic{
        width: 42%;
    }
}

