*{
    font-family: "Yu Gothic UI";
    color: #401202;
    font-size: 18px;
    scroll-behavior: smooth;
}

p{
    line-height: 180%;
    margin: 0;
}

.pic img{
    border-radius: 25px;
    vertical-align: middle;
    width: 100%;
}

.tag span{
    font-size: 18px;
    font-weight: bold;
    padding: 7px 24px;
    border-radius: 25px;
}
span.new{
    color: #E6A73D;
    border: 2px solid ;
}
span.discount{
    color: #F78E77;
    border: 2px solid ;
}
span.inform{
    color: #84762F;
    border: 2px solid ;
}

.container{
    display: block;
    background-color: #E3D1AD;
    position: relative;
    z-index: 0;
    
}
.container::before{
    background-image:url(../images/clean-gray-paper-640x960.png);
    content: "";
    display: block;
    height:100%;
    width: 100%;
    opacity: 0.21;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.head-bg{
    width: 100%;
    margin: auto;
    height: 450px;
    background-image: url("../images/head-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 278px;
}
.head-bg h1{
    font-size: 52px;
    margin-top: 76px;
    text-align: center;

}

.wrap{
    height: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    background-color: #E9E5DA;
    border-radius: 25px 25px 0 0;
    position: relative;
}


.wrap-item{
    padding: 40px 92px 130px 92px;
}

.to-top{
    position: fixed;
    bottom: 230px;
    right: 2%;
}
.to-top i{
    font-size: 64px;
}
.close{
    display: none;
}
.media{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 400px;
    left: 2%;

}

.media a i{
    font-size: 64px;
    margin: 19px 0;
    color: #F0F1F3;
}
.media a i.change-color{
    color: #401202;
}
