
a.more-btn{
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    border: 3px solid;
    color: #60222B;
    transition:background-color 0.5s ease,
    border-color 0.5s ease,
    color 0.5s ease ;
}
a.more-btn:hover{
    background-color: #60222B;
    border-color:#60222B ;
    color: #E9E5DA; 
}
@media screen and (min-width: 360px) {
    a.more-btn{
        border: 2px solid;
        font-size: 21px;
        padding: .5rem 6rem;
    }
}
@media screen and (min-width: 576px) {
    a.more-btn{
        border: 3px solid;
        font-size: 24px;
        padding: .75rem 8rem;
    }
}
@media screen and (min-width: 768px) {
    a.more-btn{
        font-size: 24px;
        padding: 1rem 10rem;
    }
}

.home-banner{
    margin: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: url("../images/home/banner-home.jpg");
}
.home-banner h1, .home-banner h2{
    position: absolute;
    background-color: rgba(237,167,61,60%);
    height: 10%;
}
@media screen and (min-width: 360px) {
    .home-banner{
        height: 340px;
    }
    .home-banner h1, .home-banner h2{
        font-size: 28px;
        padding: .75rem;
        border-radius: 15px;
    }
    .home-banner h1{
        right: 120px;
        bottom: 200px;
    }
    .home-banner h2{
        right: 10px;
        bottom: 130px;
    }
}
@media screen and (min-width: 576px) {
    .home-banner{
        height: 420px;
    }
    .home-banner h1, .home-banner h2{
        font-size: 36px;
        padding: 15px;
    }
    .home-banner h1{
        right: 250px;
        bottom: 230px;
    }
    .home-banner h2{
        right: 50px;
        bottom: 140px;
    }
}
@media screen and (min-width: 768px) {
    .home-banner{
        height: 640px;
    }
    .home-banner h1, .home-banner h2{
        font-size: 48px;
        padding: 25px;
        border-radius: 20px;
    }
    .home-banner h1{
        right: 350px;
        top: 200px;
    }
    .home-banner h2{
        right: 50px;
        top: 330px;
    }
}
@media screen and (min-width: 1024px) {
    .home-banner{
        height: 800px;
    }
    .home-banner h1, .home-banner h2{
        font-size: 52px;
        padding: 1rem;
    }
    .home-banner h1{
        right: 500px;
        top: 200px;
    }
    .home-banner h2{
        right: 200px;
        top: 330px;
    }
}

.homehead-bg{
    width: 100%;
    margin: auto;
    background-image: url("../images/head-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index:0;
}
@media screen and (min-width: 360px) {
    .homehead-bg{
        top: 230px;
        height: 20%;
    }
}
@media screen and (min-width: 576px) {
    .homehead-bg{
        top: 300px;
        height: 20%;
    }
}
@media screen and (min-width: 768px) {
    .homehead-bg{
        top: 500px;
        
    }
}   
@media screen and (min-width: 1024px) {
    .homehead-bg{
        top: 600px;
    }
}


.wrap-home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: auto;
    position: relative;
}
@media screen and (max-width: 768px) {
    .wrap-home{
        max-width: 92%;
    }
}
@media screen and (min-width: 769px) {
    .wrap-home{
        max-width: 92%;
    }
}   
@media screen and (min-width: 1024px) {
    .wrap-home{
        max-width: 1200px;
    }
}

.concept{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.concept .concept-pic {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
} 
.concept .concept-text{
    width: 40%;
}
@media screen and (min-width: 360px) {
    .concept{
        padding: 1rem 1rem 2rem 1rem;
    }
    .concept-pic img.left{
        width: 90%;
    }
    .concept-pic img.right{
        display: none;
    }
}
@media screen and (min-width: 576px) {
    .concept{
        padding: 3rem 3rem 4rem 3rem;
    }
    .concept-pic img.left{
        width: 50%;
        padding-right: 0.5rem;
    }
    .concept-pic img.right{
        display: block;
        width: 40%;
    }
}
@media screen and (min-width: 768px) {
    .concept{
        padding: 3.5rem 4rem 4.5rem 4rem;
    }
    .concept-pic img.left{
        padding-right: .5rem;
    }
}   
@media screen and (min-width: 1024px) {
    .concept{
        padding: 5.75rem 6rem 7.5rem 6rem;
    }
    .concept-pic img.left{
        padding-right: 1rem;
    }
}

.pick-up{
    background-color:#F0F1F3;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
}

.illus{
    background-image: url(../images/bread-illus/bread-1.png) ,
    url(../images/bread-illus/bread-2.png) ,
    url(../images/bread-illus/bread-3.png) ,
    url(../images/bread-illus/bread-4.png);

    background-repeat: no-repeat, no-repeat, no-repeat ,no-repeat;
}
@media screen and (min-width: 360px) {
    .illus{
        background-position:
        top right 2rem,
        top 38% left,
        bottom 38% right,
        bottom 20px left 10px;
        background-size: 25%;
    }
}
@media screen and (min-width: 576px) {
    .illus{
        background-position:
        top right 4rem,
        top 38% left,
        bottom 38% right,
        bottom 30px left 10px;
        background-size: 20%;
    }
}
@media screen and (min-width: 768px) {
    .illus{
        background-position:
        top right 4rem,
        top 38% left,
        bottom 40% right,
        bottom 30px left 10px;
    }
}   
@media screen and (min-width: 1024px) {
    .illus{
        background-position:
        top right 4rem,
        top 40% left,
        bottom 30% right,
        bottom 30px left 10px;
    }
}
.pick-up h2{
    margin: auto;
}
.pick-up .pickup-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.pick-up .item p{
    padding: 0.5rem 0;
}

.pick-up  a.more-btn{
    margin: 1.5rem auto 5.25rem auto;
} 

@media screen and (max-width: 768px) {
    .pick-up h2{
        margin: auto;
        font-size: 32px;
        padding: 2.25rem 0 2rem 0;
    }
    .pick-up .item{
        display: flex; 
        flex-direction: column;
        margin: 2.25rem ;
        justify-content: space-between;
    }
    .pick-up .item h5{
        font-size: 21px;
    }
    .pickup-pic {
        width: 100%;
    }
    .pickup-pic img{
        width: 100%;
    }
    .pick-up .pickup-text{
        padding-top: 1rem;
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .pick-up h2{
        margin: auto;
        font-size: 42px;
        padding: 4rem 0 2.75rem 0;
    }
    .pick-up .item{
        display: flex; 
        margin: 1.5rem 4rem;
        justify-content: space-between;
    }
    .pick-up .item h5{
        font-size: 24px;
    }
    .pick-up .pickup-text.left{
        padding: 0 32px 0 0;
    }
    .pick-up .item:nth-child(3) .pickup-pic{
        order: 1;
    }
    .pickup-pic {
        width: 50%;
    }
    .pickup-pic img{
        width: 100%;
    }
    .pick-up .pickup-text{
        padding: 0 0 0 2rem;
        width: 50%;
    }

}   
@media screen and (min-width: 1024px) {
    .pick-up h2{
        margin: auto;
        font-size: 42px;
        padding: 6.25rem 0 4rem 0;
    }
    .pick-up .item{
        margin: 2.25rem 6rem;
    }

}

/* .move-icon{
    position: absolute;
    width: 100%;
    top: 50%;
}

#left-btn, #right-btn{
    transition: opacity 0.5s ease;
}
#left-btn.hidden, #right-btn.hidden{
    opacity: 0;
}
.move-icon a.left-btn{
    left: 0px;
    position: absolute;
}
.move-icon a.right-btn{
    right: 0px;
    position: absolute;
} */
.news{
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
}

.news h2{
    margin: auto;
}
.news .news-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin:0 3rem ;
}
.news .news-wrap a.card{
    display: flex;
    flex-direction: column;
}
.news-wrap a.card .pic{
    border-radius: 20px;
    overflow: hidden;
}
.news-wrap a.card img{
    transition: transform 0.5s ease,
    opacity 0.5s ease;
}
.news-wrap a:hover.card img{
    transform: scale(1.02);
    opacity: 0.7;
}
.news .news-wrap a .below-info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.news .news-wrap .card h5{
    flex-grow: 1;
    display: inline-block;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.news .news-wrap a .tag span{
    font-size: 18px;
    padding: 7px 24px;
    border-radius: 25px;
}

.news .samepic {
    position: relative;
}
.news .samepic span{
    position: absolute;
    color: #60222B;
    font-weight: bold;
    transition: transform 0.5s ease,
    opacity 0.5s ease;
}
a.card:hover .samepic span{
    transform: scale(1.02);
    opacity: 0.7;
}
.news .news-wrap a .time{
    font-size: 18px;
}
@media screen and (min-width: 360px) {
    .news{
        row-gap: 1.5rem;
    }
    .news .news-wrap{
        margin:0 3rem ;
    }
    .news .news-wrap a.card{
        padding: 2rem 1rem; 
        width: 100%;
    }
    .news h2{
        margin: auto;
        font-size: 32px;
        padding-top: 3rem;
    }
    .news .news-wrap a h5{
        flex-grow: 1;
        font-size: 21px;
        padding: 1.25rem 0 2rem 0;
    }
    .news .samepic span{
        font-size: 18px;
        top: 80px;
        left: 55px;
    }
    .news a.more-btn{
        margin: auto;
        margin-bottom: 5rem;
    }
}
@media screen and (min-width: 576px) {
    .news{
        row-gap: 3rem;
    }
    .news .news-wrap a.card{
        width: 75%;
    }
    .news h2{
        padding-top: 5rem;
    }
    .news .news-wrap a h5{
        font-size: 24px;
    }
    .news .samepic span{
        font-size: 24px;
        top: 130px;
        left: 80px;
    }

}
@media screen and (min-width: 769px) {
    .news{
        row-gap: 4rem;
    }
    .news .news-wrap a.card{
        width: 60%;
    }
    .news h2{
        font-size: 42px;
    }
    .news .samepic span{

        top: 150px;
        left: 100px;
    }
}
@media screen and (min-width: 1024px) {
    .news .news-wrap a.card{
        padding: 0 1rem; 
        width: 27%;
    }
    .news .news-wrap a h5{
        font-size: 24px;
        padding: 1.25rem 0 2rem 0;
    }
    .news .samepic span{
        font-size: 24px;
        top: 120px;
        left: 50px;
    }
    .news a.more-btn{
        margin: auto;
        margin-bottom: 5rem;
    }
}
@media screen and (min-width: 1200px) {
    .news .news-wrap{
        margin:0 6rem ;
    }
    .news .news-wrap a.card{
        padding: 0 1.75rem; 
    }
    .news h2{
        padding-top: 6rem;
    }
    .news .news-wrap a h5{
        flex-grow: 1;
        padding: 1.25rem 0 1.5rem 0;
    }
    .news .samepic span{
        top: 120px;
        left: 55px;
    }
}