
a.more-btn{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 160px;
    border-radius: 40px;
    border: 3px solid;
    color: #60222B;
}

.home-banner{
    margin: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: url("../images/home/banner-home.jpg");
}
.home-banner h1, .home-banner h2{
    position: absolute;
    background-color: rgba(237,167,61,60%);
    border-radius: 20px;
}
@media screen and (max-width: 768px) {
    .home-banner{
        height: 420px;
    }
    .home-banner h1, .home-banner h2{
        font-size: 36px;
        padding: 15px;
    }
    .home-banner h1{
        right: 250px;
        bottom: 230px;
    }
    .home-banner h2{
        right: 50px;
        bottom: 140px;
    }
}
@media screen and (min-width: 769px) {
    .home-banner{
        height: 640px;
    }
    .home-banner h1, .home-banner h2{
        font-size: 48px;
        padding: 25px;
    }
    .home-banner h1{
        right: 350px;
        top: 200px;
    }
    .home-banner h2{
        right: 50px;
        top: 330px;
    }
}
@media screen and (min-width: 1024px) {
    .home-banner{
        height: 800px;
    }
    .home-banner h1, .home-banner h2{
        font-size: 52px;
        padding: 25px;
    }
    .home-banner h1{
        right: 500px;
        top: 200px;
    }
    .home-banner h2{
        right: 200px;
        top: 330px;
    }
}

.homehead-bg{
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("../images/head-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index:0;
}
@media screen and (max-width: 768px) {
    .homehead-bg{
        top: 300px;
    }
}
@media screen and (min-width: 769px) {
    .homehead-bg{
        top: 500px;
    }
}   
@media screen and (min-width: 1024px) {
    .homehead-bg{
        top: 600px;
    }
}


.wrap-home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: auto;
    position: relative;
}
@media screen and (max-width: 768px) {
    .wrap-home{
        max-width: 92%;
    }
}
@media screen and (min-width: 769px) {
    .wrap-home{
        max-width: 92%;
    }
}   
@media screen and (min-width: 1024px) {
    .wrap-home{
        max-width: 1200px;
    }
}

.concept{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.concept .concept-pic {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
} 
.concept-pic img.left{
    width: 50%;
    padding-right: 20px;
}
.concept-pic img.right{
    width: 40%;
}
.concept .concept-text{
    width: 40%;
}
@media screen and (max-width: 768px) {
    .concept{
        padding: 3rem 3.25rem 4rem 3.25rem;
    }
}
@media screen and (min-width: 769px) {
    .concept{
        padding: 3.5rem 4rem 4.5rem 4rem;
    }
}   
@media screen and (min-width: 1024px) {
    .concept{
        padding: 5.75rem 6rem 7.5rem 6rem;
    }
}

.pick-up{
    background-color:#F0F1F3;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
}
.illus{
    background-image: url(../images/bread-illus/bread-1.png) ,
    url(../images/bread-illus/bread-2.png) ,
    url(../images/bread-illus/bread-3.png) ,
    url(../images/bread-illus/bread-4.png);

    background-repeat: no-repeat, no-repeat, no-repeat ,no-repeat;
    background-position:
    top right 4rem,
    top 40% left,
    bottom 30% right,
    bottom 30px left 10px;
    background-size: 20%;
}
.pick-up h2{
    margin: auto;
}
.pick-up .pickup-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 2rem;
    width: 50%;
}
.pick-up .item p{
    padding: 0.5rem 0;
}

.pick-up  a.more-btn{
    margin: 1.5rem auto 5.25rem auto;

} 
@media screen and (max-width: 768px) {
    .pick-up h2{
        margin: auto;
        font-size: 32px;
        padding: 2.25rem 0 3rem 0;
    }
    .pick-up .item{
        display: flex; 
        flex-direction: column;
        margin: 2.25rem ;
        justify-content: space-between;
    }
    .pick-up .item h5{
        font-size: 21px;
    }
    .pickup-pic {
        width: 100%;
    }
    .pickup-pic img{
        width: 100%;
    }
    .pick-up .pickup-text{
        width: 100%;
    }
}
@media screen and (min-width: 769px) {
    .pick-up h2{
        margin: auto;
        font-size: 42px;
        padding: 4rem 0 2.75rem 0;
    }
    .pick-up .item{
        display: flex; 
        margin: 1.5rem 4rem;
        justify-content: space-between;
    }
    .pick-up .item h5{
        font-size: 24px;
    }
    .pick-up .pickup-text.left{
        padding: 0 32px 0 0;
    }
    .pick-up .item:nth-child(3) .pickup-pic{
        order: 1;
    }
    .pickup-pic {
        width: 50%;
    }
    .pickup-pic img{
        width: 100%;
    }
    .pick-up .pickup-text{
        width: 50%;
    }

}   
@media screen and (min-width: 1024px) {
    .pick-up h2{
        margin: auto;
        font-size: 42px;
        padding: 6.25rem 0 4rem 0;
    }
    .pick-up .item{
        margin: 2.25rem 6rem;
    }

}

/* 最新消息需寫list，左右鍵position定位 */
.news{
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    row-gap: 6.25rem;
    position: relative;
    align-items: center;
}
.news .news-container{
    position: relative;
    overflow: hidden;
}
.news .news-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5rem;
    margin-bottom: 1rem;
}
.news .news-wrap a.card img{
    width: 100%;
    vertical-align: middle; 
}
.news .news-wrap a .below-info {
    display: flex;
    justify-content: space-between;
}
.news .news-wrap a h5{
    display: inline-block;
    margin: 0;
    padding: 1.25rem 0 1.5rem 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.move-icon{
    position: absolute;
    width: 100%;
    top: 40%;
}
.move-icon a.left-btn{
    left: 16px;
    position: absolute;
}
.move-icon a.right-btn{
    right: 16px;
    position: absolute;
}
.news .samepic {
    position: relative;
}
.news .samepic span{
    position: absolute;
    font-weight: bold;
    color: #60222B;
}
.news a.more-btn{
    margin: auto;
    margin-bottom: 5.25rem;
}
@media screen and (max-width: 768px) {
    .news{
        row-gap: 3rem;
    }
    .news h2{
        font-size: 32px;
        padding-top: 2.25rem;
    }
    .news .news-wrap a h5{
        font-size: 21px;
    }
    .news .news-wrap a .time{
        font-size: 16px;
    }
    
}
@media screen and (min-width: 769px) {
    .news{
        row-gap: 4.5rem;
    }
    .news .news-wrap a.card{
        padding: 0px 0.75rem; 
        width: 30%;
    }
    .news h2{
        font-size: 42px;
        padding-top: 4rem;
    }
    .news .news-wrap a h5{
        font-size: 24px;
    }
    .news .news-wrap a .time{
        font-size: 18px;
    }
    .news .samepic span{
        top: 90px;
        left: 45px;
        font-size: 21px;
    }
    

}   
@media screen and (min-width: 1024px) {
    .news{
        row-gap: 6.25rem;
    }
    .news h2{
        padding-top: 6.25rem;
    }
    .news .samepic span{
        top: 60%;
        left: 25%;
        font-size: 24px;
    }

}


