
a.more-btn{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 160px;
    border-radius: 40px;
    border: 3px solid;
    color: #60222B;
}


.home-banner{
    height: 1000px;
    margin: auto;
    width: 100%;
    background-size: cover;
    background-image: url("../images/home/banner-home.jpg");

}

.homehead-bg{
    width: 100%;
    height: 450px;
    margin: auto;
    background-image: url("../images/head-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index:0;
    top: 736px;
}

.wrap-home{
    height: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    position: relative;
}

.concept{
    display: flex;
    align-content: center;
    padding: 120px 92px;
    position: relative;


}
.concept .concept-pic img{
    width: 100%;
    vertical-align: middle;
} 
.concept .title{
    position: absolute;
    top: 200px;
    left: 350px;

}
.concept h2{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 40px 30px;
    display: inline-block;
    background-color: rgba(237,167,61,60%);
    border-radius: 25px;
}
.concept p{
    font-size: 18px;
    padding: 0 0 92px 72px;
    margin: 0;
}
.concept .concept-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: end;
}



.pick-up{
    background-color:#F0F1F3;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.pick-up .bread-pic-4{
    position: absolute;
    left: 30px;
    bottom: 40px;
}
.pick-up .bread-pic-1{
    position: absolute;
    right: 90px;
    top:0;
}
.pick-up h2{
    margin: auto;
    font-size: 42px;
    font-weight: bold;
    padding: 100px 0 64px 0;
}
.pick-up .item{
    display: flex; 
    margin: 36px 92px;
    justify-content: space-between;
}
.pick-up .pickup-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 32px;
}
.pick-up .pickup-text.left{
    padding: 0 32px 0 0;
}
.pick-up .item:nth-child(3) .pickup-pic{
    order: 1;
}
.pick-up .item:nth-child(3) .pickup-text{
    position: relative;
}
.item:nth-child(3) .pickup-text .bread-pic-3{
    position: absolute;
    top: -30px;
    left: 0px;

}
.pick-up .item:nth-child(3) .pickup-pic{
    position: relative;
}
.item:nth-child(3) .pickup-pic .bread-pic-2{
    position: absolute;
    right: -120px;
    bottom: -210px;
}

.pick-up .item h5{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.pick-up .item p{
    padding: 10px 0;
    font-size: 18px;
    margin: 0;
}

.pick-up  a.more-btn{
    margin: 21px auto 84px auto;

}


.news{
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    row-gap: 100px;
    position: relative;
}

.news h2{
    margin: auto;
    font-size: 42px;
    font-weight: bold;
    padding-top: 100px;
}
.news .news-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
.news .news-wrap a.card{
    padding: 0px 12px; 
    text-decoration: none;
    width: 25%;
}

.news .news-wrap a.card img{
    width: 100%;
    vertical-align: middle; 
}
.news .news-wrap a .below-info {
    display: flex;
    justify-content: space-between;
}
.news .news-wrap a h5{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 24px 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.news .news-wrap a .tag span{
    font-size: 18px;
    font-weight: bold;
    padding: 7px 24px;
    border-radius: 25px;
}

.news .samepic {
    position: relative;
}
.news .samepic span{
    position: absolute;
    font-size: 24px;
    top: 130px;
    left: 70px;
    font-weight: bold;
    color: #60222B;
}

.news .news-wrap a .time{
    font-size: 18px;
}
.news .news-wrap  a.move-icon {
    padding: 0 28px;
}
/* .news .news-wrap  a.move-icon i{
    font-size: 48px;
} */
.news a.more-btn{
    margin: auto;
    margin-bottom: 84px;

}


