.banner{
    height: 555px;
    margin: auto;
    width: 100%;
    background-size: cover;
    background-image: url("../images/introbuce/introduce-banner.png");
}
.bread-crumbs ul{
    padding-bottom: 89px;
    padding-left: 0;
}
.bread-crumbs ul{
    display: flex;
    list-style: none;
}
.bread-crumbs li + li{
    padding: 0 5px
}
.bread-crumbs li + li::before{
    content: '/';
    padding: 10px;
}
.bread-crumbs a{
    text-decoration: none;
}

.wrap .item{
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.text-info{
    padding-right: 102px;
    padding-left: 62px;
}
.right-side .text-info{
    order: -1;
    padding-left: 102px;
    padding-right: 62px;
}

.pic{
    width: 43%;
}
.item .pic img{
    border-radius: 50%;
    overflow: hidden;
}
.text-info{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-info h2{
    font-size: 40px;
}
.text-info p{
    font-size: 18px;
}