.banner{
    background-image: url("../images/introbuce/introduce-banner.png");
}
@media screen and (max-width: 768px) {
    .bread-crumbs ul{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .bread-crumbs ul{
        padding-bottom: 4rem;
        padding-left: 0;
    }
    .bread-crumbs ul{
        display: flex;
        list-style: none;
        margin: 0;
    }
    .bread-crumbs li + li{
        padding: 0 5px
    }
    .bread-crumbs li + li::before{
        content: '/';
        padding: 10px;
    }
    .bread-crumbs a{
        text-decoration: none;
    }
}  

.wrap .item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0.75rem 0;
}
.text-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item .pic img{
    border-radius: 50%;
    overflow: hidden;
}
@media screen and (min-width: 360px) {

    .pic{
        width: 100%;
    }
    .text-info h4{
        font-size: 24px;
        padding: 1.5rem 0;
    }
    .text-info p{
        font-size: 16px;
        padding: 1rem 0;
    }
    .wrap .item{
        padding: 1.5rem 0;
    }
}
@media screen and (min-width: 576px) {
    .text-info{
        padding: 1.5rem;
    }
    .pic{
        width: 75%;
    }
    .right-side .pic{
        margin-left: auto;
    }
    .text-info h4{
        font-size: 26px;
    }
    .wrap .item{
        padding: 0.75rem 0;
    }
}
@media screen and (min-width: 768px) {
    .text-info{
        width: 45%;
        padding: 1.5rem;
    }
    .right-side .text-info{
        order: -1;
    }
    .pic{
        width: 45%;
    }  
    .text-info h4{
        font-size: 28px;
        padding: 1.5rem 0;
    }
    .text-info p{
        font-size: 18px;
    }
}   
@media screen and (min-width: 1024px) {
    .text-info{
        width: 38%;
        padding: 0 4rem;
    }
}