
.bread-crumbs ul{
    padding-bottom: 89px;
    padding-left: 0;
}
.bread-crumbs ul{
    display: flex;
    list-style: none;
}
.bread-crumbs li + li{
    padding: 0 5px
}
.bread-crumbs li::after{
    content: '/';
    padding: 10px;
}
.bread-crumbs a{
    text-decoration: none;
}

.news-article{
    width: 83%;
    margin: auto;
}
.up-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 52px 0;
}
.title h1{
    font-size: 42px;
    font-weight: bold;
}
.news-article .text{
    margin-top: 60px;
}
.text ul li{
    font-size: 21px;
    line-height: 180%;
}
.text p{
    font-size: 21px;
    line-height: 180%;
    padding: 19px 0;
}
