.banner{
    background-image: url("../images/new-detail/news-detail-banner.jpg");
}

@media screen and (max-width: 768px) {
    .bread-crumbs ul{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .bread-crumbs ul{
        padding-bottom: 4rem;
        padding-left: 0;
    }
    .bread-crumbs ul{
        display: flex;
        list-style: none;
    }
    .bread-crumbs li + li{
        padding: 0 5px
    }
    .bread-crumbs li::after{
        content: '/';
        padding: 10px;
    }
    .bread-crumbs a{
        text-decoration: none;
    }
}   
@media screen and (min-width: 1024px) {
    .bread-crumbs ul{
        padding-bottom: 6rem;
    }
}

@media screen and (min-width: 360px) {
    .illus{
        background-image: url(../images/bread-illus/bread-1.png) ,
        url(../images/bread-illus/bread-6.png);
    
        background-repeat: no-repeat, no-repeat;
        background-position:
        top 3rem right 4rem,
        bottom 30px left 10px;
        background-size: 20%;
    }
}
@media screen and (min-width: 576px) {
    .illus{
        background-position:
        top 0 right 4rem,
        bottom 0 left 10px;
        background-size: 20%;
    }
}
@media screen and (min-width: 768px) {
    .illus{
        background-image: url(../images/bread-illus/bread-1.png) ,
        url(../images/bread-illus/bread-2.png) ,
        url(../images/bread-illus/bread-4.png) ,
        url(../images/bread-illus/bread-6.png);
    
        background-repeat: no-repeat, no-repeat, no-repeat ,no-repeat;
        background-position:
        top 3rem right 4rem,
        top 35% left,
        bottom 30% right ,
        bottom 30px left 10px;
        background-size: 15%;
    }
}

.news-article{
    margin: auto;
}
.up-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25rem 0 ;
}
.up-info .time{
    align-self: flex-end;
    padding-top: 1rem;
}
.text ul li{
    line-height: 180%;
}
.text p{
    line-height: 180%;
    padding: 1.25rem 0;
}
@media screen and (min-width: 360px) {
    .title h2{
        font-size: 26px;
    }
    .up-info .time{
        font-size: 16px;
    }
}
@media screen and (min-width: 576px) {
    .title h2{
        font-size: 32px;
    }
    .news-article .text{
        margin-top: 2rem;
    }
    .text ul li{
        font-size: 18px;
    }
    .text p{
        font-size: 18px;
    }
    .news-article{
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .title h2{
        font-size: 36px;
    }
    .up-info .time{
        font-size: 18px;
    }
    .news-article .text{
        margin-top: 3rem;
    }
    .text ul li{
        font-size: 21px;
    }
    .text p{
        font-size: 21px;
    }
    .news-article{
        width: 85%;
    }
}   
@media screen and (min-width: 1024px) {
    .title h2{
        font-size: 42px;
    }
    .news-article .text{
        margin-top: 3.75rem;
    }
}