.banner{
    height: 555px;
    margin: auto;
    width: 100%;
    background-size: cover;
    background-image: url("../images/news/news-banner.png");

}

.bread-crumbs ul{
    padding-bottom: 89px;
    padding-left: 0;
}
.bread-crumbs ul{
    display: flex;
    list-style: none;
}
.bread-crumbs li + li{
    padding: 0 5px
}
.bread-crumbs li + li::before{
    content: '/';
    padding: 10px;
}
.bread-crumbs a{
    text-decoration: none;
}
.bread-pic-1{
    position: absolute;
    top: 20px;
    right: 88px;
}
.bread-pic-1 img{
    width: 60%;
}
.top-news{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 94px;
    justify-content: space-between;
    position: relative;
}
.top-news .bread-pic-2{
    position: absolute;
    bottom: -90px;
    left: -90px;
}

.top-news .news-info{
    width: 36%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.top-news .news-info h3{
    font-size: 36px;
    line-height: 1.5;
    margin: 0;
}
.top-news .pic{
    width: 60%;
    margin-top: auto;
}
.card .pic img{
    border-radius: 25px 25px 0 0 ;
}
.tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}
.tag .time{
    align-self: center;
}

.top-news .news-info .text p{
    font-size: 21px;
    margin: 0;

}
.news-info .text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}


a.more-btn{
    align-self: flex-end;
    justify-self: flex-end;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 75px;
    border-radius: 40px;
    border: 3px solid;
    margin-top: 20px;
    color: #60222B;
    border-color: #60222B;
}

a{
    text-decoration: none;
}
a .card{
    /* height: 100%; */
    margin: 6px 7px;
    background-color: #F0F1F3;
    border-radius: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
} 

.card .samepic{
    position: relative;

}
.card .samepic span{
    position: absolute;
    top:120px;
    left: 75px;
    font-size: 24px;
    font-weight: bold;
    color: #60222B;
}

a .card .news-info{
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

a .news-info h5.title{
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px ;
    flex-grow: 1;
}
a .news-info p.text{
    line-height: 180%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
a .news-info .tag-time{
    padding-top: 35px;
    padding-bottom: 0;
}

.pages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    position: relative;
}
.pages .bread-pic-3{
    position: absolute;
    left: 70px;
    top:-40px;
}
.pages .bread-pic-4{
    position: absolute;
    right: 60px;
    top:-40px;
}
.bread-pic-3 img, .bread-pic-4 img{
    width: 80%;
}

.pages a{    
    align-self: center;
    padding: 8px 15px;
    margin: 12px;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    border: #60222B 2px solid;
    color: #60222B;
    border-radius: 50%;

}

.pages a.current{
    background-color: #60222B;
    color: #F0F1F3;
    overflow: hidden;
}
