.banner{
    background-image: url("../images/product-detail/products-detail-banner.png");
}

@media screen and (max-width: 768px) {
    .bread-crumbs ul{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .bread-crumbs ul{
        padding-bottom: 4rem;
        padding-left: 0;
    }
    .bread-crumbs ul{
        display: flex;
        list-style: none;
    }
    .bread-crumbs li + li{
        padding: 0 5px
    }
    .bread-crumbs li::after{
        content: '/';
        padding: 10px;
    }
    .bread-crumbs a{
        text-decoration: none;
    }
}   
@media screen and (min-width: 1024px) {
    .bread-crumbs ul{
        padding-bottom: 6rem;
    }
}


@media screen and (max-width: 768px) {
    .order-section .sm-pic-list{
        display: none;
    }
    /* .lg-pic {
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 60%;
        height: 600px;
        margin: 100px auto;
        
        overflow: hidden; 
    }
    
    .lg-pic #lg-pic-list {
        position: relative;
    }
    
    .lg-pic #lg-pic-list li {
        float: left;
    }
    
    .lg-pic #lg-pic-list img {
        width: 100%;
        height: 550px;

    } */
    
/* 
    span#pic-number{
        position: absolute;
        right: 4rem;
        bottom: 2rem;
        background-color: #9F9393;
        font-size: 18px;
        font-weight: bold;
        color: #F0F1F3;
        padding: 0.5rem 1rem;
        border-radius: 50px;
    }
    .move-icon{
        position: relative;
        width: 100%;
        top: 45%;
    }
    a#prev{
        position: absolute;
        left: 0rem;
    }
    a#next{
        position: absolute;
        right: 0rem;
    }
    #contentButton{
        position: absolute;
        bottom: 0;
        text-align: center;
        height: 3rem;
        width: 100%;
    } 
    #contentButton li{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    
        background-color: #9F9393;
        display: inline-block;
        margin: 8px;
    }
    #contentButton li.clicked{
        background-color: #F0F1F3;
    }  */
}
@media screen and (min-width: 769px) {
    .order-section{
        display: flex;
        flex-wrap: wrap;
    }
    .order-section .pic{
        width: 52%;
    }
    .order-section .lg-pic img:not(:first-child){
        display: none;
    }
    .order-section .sm-pic-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 1rem;
    }
    .sm-pic-list .sm-pic{
        width: 23%;
    }
}  
@media screen and (min-width: 1024px) {
    .order-section .sm-pic-list{
        padding-top: 1.25rem;
    }
}  

.tag span{    
    display: inline-block;
    color: #60222B;
    border: 2px solid ;
    margin-top: 1rem;
}
.buy p{
    margin: .75rem 0 2rem 0;
}
.buy .price-amount{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 0 ;
}
.price-amount .price span{
    font-size: 52px;
    font-weight: bold;
    color: #60222B;
    padding: 0;
}
.price-amount .amount{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    background-color: #F0F1F3;
    display: flex;
    width: 50%;
    padding: 0.25rem 1.25rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.amount input.buy-number{
    font-size: 24px;
    height: 2.25rem;
    width: 50%;
    text-align: center;
    border: 1px #E6E6E6 solid;
    border-radius: 10px;
}
.btn{
    box-sizing: border-box;
    margin: 10px 0;
}

.btn button{
    width: 100%;
    font-size: 21px;
    font-weight: bold;  
    padding:  1rem 0;
    border-radius: 50px;
    border: 0;
    background-color: #60222B;
    color: #E6E6E6;
}
@media screen and (max-width: 768px) {
    .order-section .buy{
        width: 100%;
        padding-top: 3rem;
    }
    .buy h2{
        font-size: 36px;
    }
}
@media screen and (min-width: 769px) {
    .order-section .buy{
        width: calc(48% - 3.75rem);
        margin-left: 3rem;
        padding-top: 3rem;
    }
    .buy h2{
        font-size: 42px;
    }  
}   
@media screen and (min-width: 1024px) {
    .order-section .buy{
        margin-left: 3.75rem;
        padding-top: 6.25rem;
    }
}


.discription{
    width: 100%;
    margin-top: 6rem;
}
.discription .tab-container ul.tab-title{
    display: flex;
    padding-left: 46px;
}

.tab-title {
    margin-bottom: -1px;
    border-bottom: #60222B 1.5px solid;
}
.tab-container ul label{
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
ul label.tabs-p{
    border-radius: 25px 25px 0 0 ;
    border: 2px solid #60222B;
    border-bottom: 0;
    margin-bottom: -2px;
    background-color: #E9E5DA;
    color: #60222B;
}
ul label.tabs-y{
    color: #9F9393;
}
.text p{
    font-size: 21px;
    padding: 19px;
}
.text  ul li{
    font-size: 21px;
    line-height: 180%;
}

.tab-container input[type ="radio"] {
    display: none;
}
.yummy{
    display: none;
}
#tab-yummy:checked ~.text>.yummy  {
    display: block;
}
#tab-yummy:checked ~ul.tab-title li label.tabs-y {
    border-radius: 25px 25px 0 0 ;
    border: 2px solid #60222B;
    border-bottom: 0;
    margin-bottom: -2px;
    background-color: #E9E5DA;
    color: #60222B;
}
#tab-yummy:checked ~.text>.preserve {
    display: none;
}
#tab-yummy:checked ~ul.tab-title li label.tabs-p {
    color: #9F9393;
    border: 0;
    margin-bottom: 0px;
}
label{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .tab-container ul label{
        font-size: 21px;
        padding: 0.75rem 0;
        width: 180px;
    }
    .discription .text{
        padding: 3rem 3rem 0 3rem;
    }
}
@media screen and (min-width: 769px) {
    .tab-container ul label{
        font-size: 24px;
        padding: 1rem 0;
        width: 200px;
    }
    .discription .text{
        padding: 4rem 4rem 0 4rem;
    }
}   
@media screen and (min-width: 1024px) {
    .discription .text{
        padding: 4rem 6rem 0 6rem;
    }
}