.banner{
    height: 555px;
    margin: auto;
    width: 100%;
    background-size: cover;
    background-image: url("../images/buy/buy-banner.png");

}
.bread-crumbs ul{
    padding-bottom: 89px;
    padding-left: 0;
}
.bread-crumbs ul{
    display: flex;
    list-style: none;
}
.bread-crumbs li + li{
    padding: 0 5px
}
.bread-crumbs li + li::before{
    content: '/';
    padding: 10px;
}
.bread-crumbs a{
    text-decoration: none;
}

.select-section ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.select-section ul li{
    width: 160px;
    height: 57.6px;
    margin: 0 23px;
    box-sizing: border-box;
    border-radius: 50px;
    border: #60222B 2px solid;
}
.select-section li a{
    text-decoration: none;
    font-weight: bold;
    color: #60222B;
    display: block;
    text-align: center;
    font-size: 21px;
    line-height: 2.5;
}
h3{
    font-size: 36px;
    padding: 80px 0 32px 0;
    margin: 0;
}
a.card{
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column  ;
    background-color: #F0F1F3;
    text-decoration: none;
    border-radius: 25px;
}
a.card img{
    border-radius: 25px 25px 0 0;
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    flex-grow: 1;
}
a.card h5{
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    flex-grow: 1;
}
.below{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.below span{
    padding: 0;
}
.below .shop i{
    font-size: 24px;
}

.pages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    position: relative;
}
.pages .bread-pic-2{
    position: absolute;
    left: 70px;
    top:-40px;
}
.pages .bread-pic-3{
    position: absolute;
    right: 60px;
    top:-40px;
}
.bread-pic-2 img, .bread-pic-3 img{
    width: 80%;
}


.pages a{    
    align-self: center;
    padding: 8px 15px;
    margin: 12px;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    border: #60222B 2px solid;
    color: #60222B;
    border-radius: 50%;

}

.pages a.current{
    background-color: #60222B;
    color: #F0F1F3;
    overflow: hidden;
}