.banner{
    background-image: url("../images/product-detail/products-detail-banner.png");
}

@media screen and (max-width: 768px) {
    .bread-crumbs ul{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .bread-crumbs ul{
        padding-bottom: 4rem;
        padding-left: 0;
    }
    .bread-crumbs ul{
        display: flex;
        list-style: none;
    }
    .bread-crumbs li + li{
        padding: 0 5px
    }
    .bread-crumbs li::after{
        content: '/';
        padding: 10px;
    }
    .bread-crumbs a{
        text-decoration: none;
    }
}   
@media screen and (min-width: 1024px) {
    .bread-crumbs ul{
        padding-bottom: 6rem;
    }
}

@media screen and (min-width: 360px) {
    .illus{
        background-image: url(../images/bread-illus/bread-1.png) ,
        url(../images/bread-illus/bread-6.png);
    
        background-repeat: no-repeat, no-repeat;
        background-position:
        top 0 right 4rem,
        top 20% right ;
        background-size: 20%;
    }
}
@media screen and (min-width: 576px) {
    .illus{
        background-image: url(../images/bread-illus/bread-1.png) , 
        url(../images/bread-illus/bread-6.png),
        url(../images/bread-illus/bread-4.png) ;
        background-position:
        top -10px right 4rem,
        top 35% right,
        bottom 30px left 10px;
        background-size: 20%;
    }
}
@media screen and (min-width: 768px) {
    .illus{
        background-image: url(../images/bread-illus/bread-1.png) ,
        url(../images/bread-illus/bread-6.png) ,
        url(../images/bread-illus/bread-4.png);
    
        background-repeat: no-repeat, no-repeat, no-repeat ,no-repeat;
        background-position:
        top 3rem right 4rem,
        bottom 45% right ,
        bottom 30px left 10px;
        background-size: 15%;
    }
}

@media screen and (min-width: 360px) {
    .order-section .mdsize-pic{
        display: none;
    }    
    .smsize-pic {
        border-radius: 40px;
        aspect-ratio: 1/1;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    
    .smsize-pic #container-list {

        position: relative;
    }
    
    .smsize-pic #container-list li {
        float: left;
    }
    .smsize-pic #container-list img {
        aspect-ratio: 1/1;
        width: 100%;
    } 
    /* 
    .move-icon{
        position: relative;
        width: 100%;
        top: 45%;
    }
    a#prev{
        position: absolute;
        left: 0rem;
    }
    a#next{
        position: absolute;
        right: 0rem;
    }*/
    #contentButton{
        position: absolute;
        top: 18rem;
        left: 0;
        text-align: center;
        height: 3rem;
        width: 100%;
    } 
    #contentButton li{
        width: 10px;
        height: 10px;
        border-radius: 50%;
    
        background-color: #9F9393;
        display: inline-block;
        margin: 8px;
    }
    #contentButton li.clicked{
        background-color: #F0F1F3;
    }
    span#pic-number{
        position: absolute;
        right: 2rem;
        top: 18rem;
        background-color: #9F9393;
        font-size: 16px;
        font-weight: bold;
        color: #F0F1F3;
        padding: 0.25rem 0.75rem;
        border-radius: 50px;
    }  
}
@media screen and (min-width: 576px) {
    #contentButton{
        top: 28rem;
    } 
    span#pic-number{
        right: 4rem;
        top: 28rem;
        padding: 0.5rem 1rem;
    }
    span#pic-number{
        font-size: 18px;
        padding: 0.5rem 1rem;
    }
}
@media screen and (min-width: 768px) {
    .order-section{
        display: flex;
        flex-wrap: wrap;
    }
    .order-section .pic{
        width: 52%;
    }
    .order-section .smsize-pic{
        display: none;
    }
    .order-section .mdsize-pic{
        display: block;
    }
    .order-section .sm-pic-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0.5rem;
    }
    .sm-pic-list .sm-pic{
        cursor: pointer;
        width: 18%;
        padding: 0.5rem 0;
    }
    .sm-pic img{
        border-radius: 20px;
    }
    span.pic-number{
        position: absolute;
        left: 17rem;
        top: 25rem;
        background-color: #9F9393;
        font-size: 18px;
        font-weight: bold;
        color: #F0F1F3;
        padding: 0.5rem 1rem;
        border-radius: 50px;
    }  
}  
@media screen and (min-width: 900px) {
    span.pic-number{
        left: 21rem;
        top: 29rem;
    }  
}  
@media screen and (min-width: 1024px) {
    .order-section .sm-pic-list{
        padding-top: 1rem;
    }
    span.pic-number{
        left: 27rem;
        top: 33rem;
    }  
}  
@media screen and (min-width: 1200px) {
    span.pic-number{
        left: 32rem;
        top: 38rem;
    }  
}  

.tag span{    
    display: inline-block;
    color: #60222B;
    border: 2px solid ;
    margin-top: 1rem;
}
.buy p{
    margin: .75rem 0 2rem 0;
}
.buy .price-amount{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 0 ;
}
.price-amount .price span{
    font-size: 48px;
    font-weight: bold;
    color: #60222B;
    padding: 0;
}
.price-amount .amount{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    background-color: #F0F1F3;
    display: flex;
    width: 50%;
    padding: 0.5rem 1.25rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.amount input.buy-number{
    font-size: 24px;
    height: 2.25rem;
    width: 50%;
    text-align: center;
    border: 1px #E6E6E6 solid;
    border-radius: 10px;
}
.btn-plus, .btn-minus{
    cursor: pointer;
    flex-grow: 1;
    padding: 0.55rem 1.2rem;
}
/* .btn-plus:hover , .btn-minus:hover{
    background-color:#e6e1dd;
    opacity: 0.1;
} */
.disable{
    color: #9F9393;
    cursor: not-allowed;
    opacity: 40%;
}


.btn{
    box-sizing: border-box;
    margin: .5rem 0;
}

.btn button{
    width: 100%;
    font-size: 21px;
    font-weight: bold;  
    padding:  1rem 0;
    border-radius: 50px;
    border: 0;
    background-color: #60222B;
    color: #E6E6E6;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #73313B;
}
@media screen and (min-width: 360px) {
    .buy h2{
        margin-top: 2rem;   
    }
}
@media screen and (min-width: 576px) {
    .order-section .buy{
        width: 100%;
    }
    .buy h2{
        font-size: 32px;
    }
}
@media screen and (min-width: 768px) {
    .order-section .buy{
        width: calc(48% - 3.75rem);
        margin-left: 3rem;
        padding-top: 0m;
    }
    .buy h2{
        margin: 0;
        font-size: 42px;
    }  
    .price-amount .amount{
        flex-grow: 1;
        margin-top: 1rem;
    }
}   
@media screen and (min-width: 1024px) {
    .order-section .buy{
        margin-left: 3.75rem;
        padding-top: 6.25rem;       
    }
    .price-amount .amount{
        margin-left: 3rem;
        margin-top: 1rem;
    }
}


.discription{
    width: 100%;
}
.discription .tab-container ul.tab-title{
    display: flex;
}

.tab-title {
    margin-bottom: -1px;
    border-bottom: #60222B 1.5px solid;
}
.tab-container ul label{
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
ul label.tabs-p{
    border-radius: 25px 25px 0 0 ;
    border: 2px solid #60222B;
    border-bottom: 0;
    margin-bottom: -2px;
    background-color: #E9E5DA;
    color: #60222B;
}
ul label.tabs-y{
    color: #9F9393;
}
.tab-container input[type ="radio"] {
    display: none;
}
#tab-preserve:checked ~.text>.preserve {
    animation: fadeInOut 0.5s ease;
}
.yummy{
    display: none;
}
#tab-yummy:checked ~.text>.yummy  {
    display: block;
    animation: fadeInOut 0.5s ease;
}
#tab-yummy:checked ~ul.tab-title li label.tabs-y {
    border-radius: 25px 25px 0 0 ;
    border: 2px solid #60222B;
    border-bottom: 0;
    margin-bottom: -2px;
    background-color: #E9E5DA;
    color: #60222B;
}
#tab-yummy:checked ~.text>.preserve {
    display: none;
}
#tab-yummy:checked ~ul.tab-title li label.tabs-p {
    color: #9F9393;
    border: 0;
    margin-bottom: 0px;
}
@keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
label{
    cursor: pointer;
}
@media screen and (min-width: 360px) {
    .discription{
        margin-top: 4rem;
    }
    .tab-container ul label{
        font-size: 18px;
        padding: 0.75rem 0;
        width: 8.5rem;
    }
    .discription .text{
        padding: 3rem 3rem 0 3rem;
    }
    .discription .tab-container ul.tab-title{
        padding-left: 3%;
    }
    .tab-title {
        margin-bottom: -1px;
        border-bottom: #60222B 1.5px solid;
    }
}
@media screen and (min-width: 576px) {
    .discription{
        margin-top: 6rem;
    }
    .tab-container ul label{
        font-size: 21px;
        padding: 0.75rem 0;
        width: 11rem;
    }
    .discription .text{
        padding: 3rem 3rem 0 3rem;
    }
    .discription .tab-container ul.tab-title{
        padding-left: 10%;
    }
}
@media screen and (min-width: 768px) {
    .tab-container ul label{
        font-size: 24px;
        padding: 1rem 0;
        width: 12.5rem;
    }
    .discription .text{
        padding: 4rem 4rem 0 4rem;
    }
    .text p{
        font-size: 21px;
        padding: 1rem;
    }
    .text  ul li{
        font-size: 21px;
        line-height: 180%;
    }
    .tab-title {
        margin-bottom: -1px;
        border-bottom: #60222B 1.5px solid;
    }
}   
@media screen and (min-width: 1024px) {
    .discription .text{
        padding: 4rem 6rem 0 6rem;
    }
    .tab-title {
        margin-bottom: -1px;
        border-bottom: #60222B 1.75px solid;
    }
}