.banner{
    height: 555px;
    margin: auto;
    width: 100%;
    background-size: cover;
    background-image: url("../images/product-detail/products-detail-banner.png");
}
.bread-crumbs ul{
    padding-bottom: 89px;
}
.bread-crumbs ul{
    display: flex;
    list-style: none;
}
.bread-crumbs li + li{
    padding: 0 5px
}
.bread-crumbs li::after{
    content: '/';
    padding: 10px;
}
.bread-crumbs a{
    text-decoration: none;
}

.bread-pic-1{
    position: absolute;
    left: 40px;
    bottom: -30px;
}
.bread-pic-1 img{
    width: 50%;
}
.bread-pic-2{
    position: absolute;
    right: 120px;
    top: 80px;
}

.order-section{
    display: flex;
    flex-wrap: wrap;
}
.order-section .pic{
    width: 52%;
}
.order-section .sm-pic-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.order-section .buy{
    width: calc(48% - 60px);
    margin-left: 60px;
    padding-top: 100px;
    position: relative;
}
.bread-pic-3{
    position: absolute;
    left: 40px;
    bottom: 0px;
}
.bread-pic-4{
    position: absolute;
    right: -80px;
    bottom: -160px;
}
.bread-pic-3 img, .bread-pic-4 img{
    width: 70%;
}
.buy h2{
    font-size: 42px;
    font-weight: bold;
}
.buy .price-tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 0 ;
}
.price-tag .price span{
    font-size: 52px;
    color: #60222B;
    padding: 0;
}
.tag{
    margin-top: 32px;
}
.tag span{
    color: #60222B;
    border: 2px solid ;
}

.btn-list{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn-list .btn{
    width: 46%;
    box-sizing: border-box;
}
.btn-list .amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    background-color: #F0F1F3;
    display: flex;
    width: 50%;
    padding: 0 30px;
}
.amount input.buy-number{
    font-size: 36px;
    height: 36px;
    width: 50%;
    text-align: center;
    border: 1px #E6E6E6 solid;
    border-radius: 10px;
}
/* .btn-list .shop{

} */
.btn-list button.shop{
    font-size: 21px;
    font-weight: bold;  
    padding:  18px 45.5px;
    border-radius: 40px;
    border: 0;
    background-color: #60222B;
    color: #E6E6E6;
}

.discription{
    margin-top: 96px;
}
.discription .tab-container ul.tab-title{
    display: flex;
    padding-left: 46px;
    list-style: none;
}
.tab-title {
    margin-bottom: -1px;
    border-bottom: #60222B 2px solid;
}

.tab-container ul label{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 0;
    text-align: center;
    width: 200px;
    display: inline-block;
}
ul label.tabs-p{
    border-radius: 25px 25px 0 0 ;
    border: 2px solid #60222B;
    border-bottom: 0;
    margin-bottom: -2px;
    background-color: #E9E5DA;
    color: #60222B;
}
ul label.tabs-y{
    color: #9F9393;
}
.discription .text{
    padding: 66px 92px 0 92px;
}
.text p{
    font-size: 21px;
    padding: 19px;
}
.text  ul li{
    font-size: 21px;
    line-height: 180%;
}

.tab-container input[type ="radio"] {
    display: none;
}
.yummy{
    display: none;
}
#tab-yummy:checked ~.text>.yummy  {
    display: block;
}
#tab-yummy:checked ~ul.tab-title li label.tabs-y {
    border-radius: 25px 25px 0 0 ;
    border: 2px solid #60222B;
    border-bottom: 0;
    margin-bottom: -2px;
    background-color: #E9E5DA;
    color: #60222B;
}
#tab-yummy:checked ~.text>.preserve {
    display: none;
}
#tab-yummy:checked ~ul.tab-title li label.tabs-p {
    color: #9F9393;
    border: 0;
    margin-bottom: 0px;
}

label{
    cursor: pointer;
}
