.banner{
    height: 555px;
    margin: auto;
    width: 100%;
    background-size: cover;
    background-image: url("../images/qna/qna-banner.png");
}
.bread-crumbs ul{
    padding-bottom: 89px;
    padding-left: 0;
}
.bread-crumbs ul{
    display: flex;
    list-style: none;
}
.bread-crumbs li + li{
    padding: 0 5px
}
.bread-crumbs li + li::before{
    content: '/';
    padding: 10px;
}
.bread-crumbs a{
    text-decoration: none;
}

.item{
    width: 1000px;
    margin: auto;
    padding: 25px 0px;
}
.question{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px;
    border: #60222B 2px solid;
    border-radius: 50px;
    align-items: center;
}
.question h5{
    color: #60222B;
    font-size: 24px;
    line-height: 66px;
    margin: 0;
}
.question i{
    font-size: 24px;
    font-weight: bold;
}
.answer{
    margin: 0 30px;
    padding: 30px 40px;
    background-color: #F0F1F3;
    border-radius: 0 0 25px 25px;
    display: none;
}
.answer p span{
    font-weight: 450;
}

label.q-1 i.fa-plus{
    display: none;
}

input#question-1[type="checkbox"] {
    display: none;
}
#question-1:checked ~.answer{
    display: block;
}
#question-1:checked ~.question label.q-1 i.fa-plus{
    display: block;
}
#question-1:checked ~.question label.q-1 i.fa-minus{
    display: none;
}