.banner{
    background-image: url("../images/qna/qna-banner.png");
}


@media screen and (max-width: 768px) {
    .bread-crumbs ul{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .bread-crumbs ul{
        padding-bottom: 4rem;
        padding-left: 0;
    }
    .bread-crumbs ul{
        display: flex;
        list-style: none;
        margin: 0;
    }
    .bread-crumbs li + li{
        padding: 0 5px
    }
    .bread-crumbs li + li::before{
        content: '/';
        padding: 10px;
    }
    .bread-crumbs a{
        text-decoration: none;
    }
}   
@media screen and (min-width: 1024px) {
    .bread-crumbs ul{
        padding-bottom: 6rem;
    }
}

.illus{
    background-image: url(../images/bread-illus/bread-1.png) ,
    url(../images/bread-illus/bread-3.png) ,
    url(../images/bread-illus/bread-4.png);

    background-repeat: no-repeat, no-repeat, no-repeat ,no-repeat;
    background-position:
    top right 4rem,
    top 33% left,
    bottom 0 right ,
    bottom 30px left 10px;
    background-size: 20%;
}
@media screen and (min-width: 360px) {
    .illus{
        background-position:
        top right 4rem,
        bottom 0 right ,
        bottom 30px left 10px;
        background-size: 15%;
    }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
    .illus{
        background-position:
        top right 3rem,
        bottom 0 right ,
        bottom 15px left 10px;
    }
}  
@media screen and (min-width: 1024px) {
    .illus{
        background-position:
        top right 3rem,
        bottom 0 right ,
        bottom 15px left 10px;
    }
}

.item{
    max-width: 1000px;
    margin: auto;
    padding: 1rem 0px;
}
@media screen and (min-width: 360px) {
    .item{
        width: 80vw;
    }
} 
@media screen and (min-width: 1024px) {
    .item{
        width: 90vw;
    }
}
.question{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;    
    align-items: center; 
}
.question .icon{
    align-self: flex-start;
    padding-top: .45rem;
}
@media screen and (min-width: 360px) {
    .item{
        width: 80vw;
    }
    .question{
        padding: 0 1.5rem;
        border-radius: 20px;
        border: #60222B 1.5px solid;
    }
    .question h5{
        width: 90%;
        font-size: 16px;
        line-height: 2rem;
    }
    .question .icon{
        padding-top: .5rem;
    }
    .question i{
        font-size: 18px;
        font-weight: bold;
    }
} 
@media screen and (min-width: 576px) {
    .question{
        padding: 0 1.5rem;
        border-radius: 50px;
    }
    .question h5{
        font-size: 21px;
        line-height: 3rem;
    }
    .question .icon{
        padding-top: .85rem;
    }
    .question i{
        font-size: 21px;
        font-weight: bold;
    }
} 
@media screen and (min-width: 769px) {
    .question{
        padding: 0 3rem;
        border: #60222B 2px solid;
    }
    .question h5{
        font-size: 24px;
        line-height: 4rem;
    }
    .question .icon{
        padding-top: 1.3rem;
    }
    .question i{
        font-size: 24px;
        font-weight: bold;
    }
}   

.answer{
    margin: 0 2rem;
    padding: 2rem 2.5rem;
    background-color: #F0F1F3;
    border-radius: 0 0 25px 25px;
    display: none;
}
.answer p span{
    font-weight: 450;
}
@media screen and (max-width: 768px) {
    .answer{
        margin: 0 1.75  rem;
        padding: 1.5rem 2rem;
    }
    
}
@media screen and (min-width: 769px) {
    .answer{
        margin: 0 2rem;
        padding: 2rem 2.5rem;
    }
} 

    