.banner{
    background-image: url("../images/qna/qna-banner.png");
}


@media screen and (min-width: 576px) {
    .bread-crumbs ul{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .bread-crumbs ul{
        padding-bottom: 4rem;
        padding-left: 0;
    }
    .bread-crumbs ul{
        display: flex;
        list-style: none;
        margin: 0;
    }
    .bread-crumbs li + li{
        padding: 0 5px
    }
    .bread-crumbs li + li::before{
        content: '/';
        padding: 10px;
    }
    .bread-crumbs a{
        text-decoration: none;
    }
}   
@media screen and (min-width: 1024px) {
    .bread-crumbs ul{
        padding-bottom: 6rem;
    }
}

.item{
    max-width: 1000px;
    margin: auto;
    padding: 1rem 0px;
}
@media screen and (max-width: 768px) {
    .item{
        width: 80vw;
    }
}
@media screen and (min-width: 769px) {
    .item{
        width: 80vw;
    }
}   
@media screen and (min-width: 1024px) {
    .item{
        width: 90vw;
    }
}
.question{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    
    border: #60222B 2px solid;
    border-radius: 50px;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .question{
        padding: 0 1.5rem;
    }
    .question h5{
        font-size: 21px;
        line-height: 3rem;
    }
    .question i{
        font-size: 21px;
        font-weight: bold;
    }
}
@media screen and (min-width: 769px) {
    .question{
        padding: 0 3rem;
    }
    .question h5{
        font-size: 24px;
        line-height: 4rem;
    }
    .question i{
        font-size: 24px;
        font-weight: bold;
    }
}   

.answer{
    margin: 0 2rem;
    padding: 2rem 2.5rem;
    background-color: #F0F1F3;
    border-radius: 0 0 25px 25px;
    display: none;
}
.answer p span{
    font-weight: 450;
}
@media screen and (max-width: 768px) {
    .answer{
        margin: 0 1.75  rem;
        padding: 1.5rem 2rem;
    }
    
}
@media screen and (min-width: 769px) {
    .answer{
        margin: 0 2rem;
        padding: 2rem 2.5rem;
    }
} 

    